<?xml version="1.0"?>
<config>
    <modules>
        <Namespace_News>
            <version>0.1.0</version>
        </Namespace_News>
    </modules>
    <frontend>
        <routers>
            <news>
                <use>standard</use>
                <args>
                    <module>Namespace_News</module>
                    <frontName>news</frontName>
                </args>
            </news>
        </routers>
        <layout>
            <updates>
                <news>
                    <file>news.xml</file>
                </news>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <namespace_news>
                    <file>news.xml</file>
                </namespace_news>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <news>
                <use>admin</use>
                <args>
                    <module>Namespace_News</module>
                    <frontName>news</frontName>
                </args>
            </news>
            <adminhtml>
                <args>
                    <modules>
                        <Namespace_News before="Mage_Adminhtml">Namespace_News_Adminhtml</Namespace_News>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <models>
            <news>
                <class>Namespace_News_Model</class>
                <resourceModel>news_mysql4</resourceModel>
            </news>
            <news_mysql4>
                <class>Namespace_News_Model_Mysql4</class>
                <entities>
                    <news>
                        <table>rave_news</table>
                    </news>
                </entities>
            </news_mysql4>
        </models>
        <resources>
            <news_setup>
                <setup>
                    <module>Namespace_News</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </news_setup>
            <news_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </news_write>
            <news_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </news_read>
        </resources>
        <blocks>
            <news>
                <class>Namespace_News_Block</class>
            </news>
        </blocks>
        <helpers>
            <news>
                <class>Namespace_News_Helper</class>
            </news>
        </helpers>
    </global>
</config>
